.mudarSenhaNewSection,
.mudarSenhaNewAgainSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 10px 0;
}

.mudarSenhaNewSection h3,
.mudarSenhaNewSection input,
.mudarSenhaNewAgainSection h3,
.mudarSenhaNewSection input {
    width: 100%;
    text-align: left;
}

.mudarSenhaNewSection h3,
.mudarSenhaNewAgainSection h3 {
    font-size: 15px;
    font-weight: 400;
}

.mudarSenhaNewSection input,
.mudarSenhaNewAgainSection .divPassword input {
    background-color: #E6E6E6;
    border: none;
    border-radius: 20px;
    height: 40px;
    margin: 5px 0;
    padding: 5px 20px;
    width: 100%;
}

.alertNewSenha {
    text-align: left;
    width: 100%;
    color: red;
    font-size: 13px;
    margin: 0;
}