.bodyContainerMudarSenha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../../../assets/bg-mudar-senha.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
}
.mudarSenhaCenter{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mudarSenhaCard{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    background-color: white;
}
.mudarSenhaCardHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    border-bottom: 2px solid #276375;
}
.mudarSenhaCardHeader img{
    height: 80%;
}
.mudarSenhaCardCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    height: 60%;
}
.mudarSenhaCardCenter h2{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 40px 0;
}

.mudarSenhaDadosSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 10px 0;
} 
.mudarSenhaDadosSection h3, .mudarSenhaDadosSection input{
    width: 100%;
    text-align: left;
}
.mudarSenhaDadosSection h3{
    font-size: 15px;
    font-weight: 400;
}
.mudarSenhaDadosSection input{
    background-color: #E6E6E6;
    border: none;
    border-radius: 20px;
    height: 40px;
    margin: 5px 0;
    padding: 5px 20px;
}
.mudarSenhaCardBottom button{
    margin: 20px 0 0 0;
    background-color: #003B50;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 8px 50px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.mudarSenhaCardBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 20%;
}
.matriculaError{
    bottom: 60px;
    margin: 10px 0 0 0;
    text-align: center;
    width: 100%;
    color: red;
    font-size: 15px;
}
